<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UoG Calendar</title>
    <link rel="stylesheet" href="/files/dist.css" />
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        let toggleSb = (e) => {
          e.preventDefault();
          document
            .getElementById("sidebar")
            .classList.toggle("translate-x-full");
        };

        document
          .getElementById("sidebar-outer")
          .addEventListener("click", toggleSb);
        document
          .getElementById("sidebar-outer")
          .addEventListener("touchend", toggleSb);
        document
          .getElementById("hamburger-menu")
          .addEventListener("click", toggleSb);
        document
          .getElementById("hamburger-menu")
          .addEventListener("touchend", toggleSb);
      });
    </script>
  </head>
  <body>
    {{!-- SIDEBAR --}}
    <div
      class="fixed top-0 right-0 z-[99] grid w-full h-full grid-cols-6 transition-transform translate-x-full"
      id="sidebar"
    >
      <div class="col-span-1 backdrop-blur-sm" id="sidebar-outer"></div>
      <ul class="flex flex-col col-span-5 gap-4 px-8 py-16 bg-neutral-900">
        <li><a href="/">Home</a></li>
        {{#if isLoggedIn}}
        <li><a href="/me/import">Import</a></li>
        <li><a href="/me/account">My Account</a></li>
        <li><a href="/auth/logout">Log out</a></li>
        {{/if}} {{#unless isLoggedIn}}
        <li><a href="/login">Log in</a></li>
        <li><a href="/register">Sign up</a></li>
        {{/unless}}
      </ul>
    </div>
    {{!-- NAV BAR --}}
    <div
      class="flex justify-between h-[4.5rem] px-8 items-center min-w-max bg-background-800 lg:px-16"
    >
      {{!-- LOGO --}}
      <a href="/" class="text-xl">UoG Calendar</a>

      <ul class="justify-between hidden gap-12 sm:flex">
        {{!-- NAV LINKS + CTA --}}
        <li><a href="/">Home</a></li>
        {{#if isLoggedIn}}
        <li><a href="/me/import">Import</a></li>
        <li><a href="/me/account">My Account</a></li>
        <li><a href="/auth/logout">Log out</a></li>
        {{/if}} {{#unless isLoggedIn}}
        <li><a href="/login">Log in</a></li>
        <li><a href="/register">Sign up</a></li>
        {{/unless}}
      </ul>
      {{!-- HAMBURGER MENU --}}
      <button
        class="absolute z-[100] p-2 right-8 sm:hidden"
        id="hamburger-menu"
      >
        <svg viewBox="0 0 100 80" width="25" height="25">
          <rect fill="#999" y="00" width="100" height="12"></rect>
          <rect fill="#999" y="30" width="100" height="12"></rect>
          <rect fill="#999" y="60" width="100" height="12"></rect>
        </svg>
      </button>
    </div>

    {{!-- MAIN CONTENT --}}
    <main class="min-h-[calc(100vh-4.5rem)] bg-background-700 px-8 lg:px-24">
      {{{embed}}}
    </main>
  </body>
</html>
