<h1>University of Guelph Course Calendar</h1>
<p class="mb-2">
  Entering courses into your favorite calendar app is annoying. Let us take care
  of adding your courses to your schedule!
</p>
<p class="mb-2">
  Have an assignment due on Monday? Coming soon: If it isn't already there, add
  it here and we'll add it to everyone's calendar! This feature is planned to
  have a voting system to ensure that the event's are valid. Don't trust it?
  Turn it off in you're account settings.
</p>
<p class="mb-2">
  Are you a professor? Contact us and we'll give you admin control over your
  course. Nobody will be able to add new events but still have the ability to
  suggest new calendar events.
</p>
<br>
<sub>
  This app is an app created by a private developer. UoGCal is in no way
  affiliated with the University of Guelph.
</sub>